/* * {
    margin: 0;
    padding: 0;
} */

html {
    height: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

p {
    padding: 5px;
}

img {
    margin: 10px 0;
}

body {
    margin: 0;
    height: 100%;
}

header {
    background: #455758;
    min-height: 60px;
    padding: 5px 15px;
}

a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}

li {
    margin: 5px 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.index {
    background: #f0f0f0;
}

.content {
    padding: 15px;
    display: flex;
    min-height: 100%;
}

.content-left {
    width: 200px;
    background-color: #e6dada;
    border: 1px solid #455758;
    border-radius: 3px;
}

.content-right {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    margin-left: 15px;
    background-color: #f2f2f2;
    border: 1px solid #455758;
    border-radius: 3px;
}

.personal-info {
    text-align: right;
}

.name,
.email {
    color: #ffffff;
    margin: 0;
}

.name {
    font-size: 20px;
}

.email {
    font-size: 14px;
}

.label {
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
}

9iki .img {
    width: 100%;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
    margin: 0;
}


/*圣杯布局样式*/

.wrap {
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
}

.center {
    width: 100%;
    height: 200px;
    float: left;
    background: red;
}

.left {
    width: 100px;
    height: 200px;
    float: left;
    margin-left: -100%;
    background: green;
    position: relative;
    left: -100px;
}

.right {
    width: 100px;
    height: 200px;
    float: right;
    margin-left: -100px;
    background: yellow;
    position: relative;
    right: -100px;
}


/*双飞翼布局样式*/

.wrap-two {
    overflow: hidden;
}

.center-two {
    width: 100%;
    height: 200px;
    float: left;
    background: red;
}

.center-two-inner {
    margin-left: 100px;
    margin-right: 100px;
}

.left-two {
    width: 100px;
    height: 200px;
    float: left;
    margin-left: -100%;
    background: green;
}

.right-two {
    width: 100px;
    height: 200px;
    float: right;
    margin-left: -100px;
    background: yellow;
}


/*浮动样式*/

.wrap-three {
    overflow: hidden;
}

.left-three {
    width: 100px;
    height: 200px;
    float: left;
    background: green;
}

.right-three {
    width: 100px;
    height: 200px;
    float: right;
    margin-left: -100px;
    background: yellow;
}

.center-three {
    width: 100%;
    height: 200px;
    background: red;
    margin-left: 100px;
    margin-right: 100px;
}